# This is Git's per-user configuration file.
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ci = commit
	co = checkout
	st = status
	br = branch
	cane = commit --amend --no-edit
	adog = log --all --decorate --oneline --graph
	fo = fetch origin
	cop = !git checkout $1 && git pull origin $1
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[user]
	name =
	email =
[core]
	excludesfile = /Users/cappyhausfeld/.gitignore_global

